// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Body
$body-bg-color: #181a1b !default;
$scrollbar-bg-color: #2b2f31;
$scrollbar-fg-color: #454a4d;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #67eaa9 !default;
$body-text-color: #b6b6b6 !default;
$body-link-color: #56ace6 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #3c3b3b !default;
$code-text-color: #a49c90 !default;

// Borders
$border-color: #dce6f0 !default;
$blockquote-border-color: #0088cc !default;
$table-border-color: #363a3d !default;
$hr-border-color: #535353 !default;
$highlight-border-color: #2b4a66 !default;

// Highlight
$highlight-bg-color: #222 !default;

